* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse";
    src: url("./fonts/Norsebold.otf") format("opentype");
}

body {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ilustracion {
    display: flex;
    position: relative;
    font-family: "Norse", sans-serif;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 13rem;
}

.odin {
    height: 9rem;
    width: auto;

}

.marca {
    color: white;
    font-size: 7rem;
    margin: 0;
}

.contenido {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 8;
    flex-basis: 0;
}

.primero {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0;
}

p {
    text-align: start;
    font-size: 24px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 10%;
}

.segundo {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 0;
}

.titulo_formulario {
    font-size: 1.8rem;
}

.formulario {
    display: flex;
    margin-right: 16rem;
    margin-left: 5%;
    margin-top: 1.1rem;
}

.formulario form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-content: center;
    justify-content: start;
}

.formulario form>div {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 2rem) / 2);
    font-size: 20px;
    gap: 0.5rem;
    font-weight: 500;
}

input {
    font-size: 18px;
    height: 30px;
    width: 100%;
}

button {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem;
    background-color: #596D48;
    margin-top: 1rem;
}

.no_cuenta {
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 2.2rem;
}